body {
	width: 100%;
	margin: 0 auto;
}
#page {
	background-color: rgb(196, 216, 226);
}

#header {
	top: 0px;
	height: 700px;
	background-image: url("Background.png");
}

.pull-custom-1 {
  position: relative;
  right: 10.5%;
  left: auto; 
}

.push-custom-1 {
	position: relative;
	left: 4.5%;
	right: auto; 
}

.push-custom-2 {
	position: relative;
	left: 12%;
	right: auto;
}

/*
NavBar
*/
.top-bar {
	position: static;
	width: 100%;
	z-index: 2;
}

.top-bar li {
	display: inline;
}
/*END Nav Bar*/

/*
CAD Slider
*/
.slide-viewer {
	position: relative;
	overflow: hidden;
	height: 500px;
}

.slide-group {
	width: 100%;
	height: 100%;
	position: relative;
}

.slide {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
}

.slide:first-child{
	display: block;
}

.button-group {
	margin: 5px;
}
/*END CAD Slide Viewer*/


.footer {
	font-size:75%;
}

.footer ul {
	font-size: 75%;
	list-style-type: none;
}